$font-family: "tone" !default;
$font-path: "fonts" !default;

$tone-priority: "\e900";
$tone-shield: "\e901";
$tone-skull: "\e902";
$tone-skull-spike: "\e903";
$tone-slow: "\e904";
$tone-struct: "\e905";
$tone-sword: "\e906";
$tone-training: "\e907";
$tone-worker: "\e908";
$tone-ai: "\e909";
$tone-build: "\e90a";
$tone-building: "\e90b";
$tone-fast: "\e90c";
$tone-ic: "\e90d";
$tone-normal: "\e90e";
$tone-pause: "\e90f";
$tone-prime: "\e910";

