$font-family: "tone" !default;
$font-path: "fonts" !default;

$symbols: (
        tone-shield: "\e900",
        tone-skull: "\e901",
        tone-skull-spike: "\e902",
        tone-slow: "\e903",
        tone-struct: "\e904",
        tone-sword: "\e905",
        tone-training: "\e906",
        tone-worker: "\e907",
        tone-ai: "\e908",
        tone-barrack: "\e909",
        tone-base: "\e90a",
        tone-berserk: "\e90b",
        tone-build: "\e90c",
        tone-building: "\e90d",
        tone-fast: "\e90e",
        tone-ic: "\e90f",
        tone-job: "\e910",
        tone-normal: "\e911",
        tone-pause: "\e912",
        tone-prime: "\e913",
        tone-priority: "\e914",
);
