@import "colors";

.field-camera {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

#mini-map-panel {
  position: absolute;
  height: 200px;
  width:255px;
  min-width: 0;
  bottom:0;
  left:0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  padding: 7px 5px;
  @include dialog-color($darker-faded-blue);

  .resources {
    justify-content: flex-end;

    > * {
      margin-right:0;
      margin-left: 20px;
    }
  }
}

#tile-panel {
  position: absolute;
  height: 200px;
  width:400px;
  min-width: 0;
  bottom:0;
  left:300px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 7px 15px;
  @include dialog-color($darker-faded-blue);

  h3 {
    margin-top: 0;
  }
}

#jobs-panel {
  position: absolute;
  height: 250px;
  width:600px;
  min-width: 0;
  bottom:0;
  left:300px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 7px 15px;
  @include dialog-color($darker-faded-blue);
  display: flex;
  flex-direction: column;

  > .jobs-details {
    flex: 1;
    overflow-y: auto;
  }

  h3 {
    margin-top: 0;
  }
}

.job-row {
  padding: 5px 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;

  > .description {
    flex: 1;
  }

  &:hover {
    background-color: transparentize($border-color, 0.2);
  }

  &:active, &.active {
    background-color: $border-color;
    color: $blue;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  }
}

// Canvas

.map-camera {
  position: absolute;
  bottom: 5px;
  left: 5px;
  display: block;
  width: 240px;
  height: 160px;
  border: 1px solid $border-color;
}

// Resources

.resources {
  display: flex;
  flex-direction: row;
}

.resource-lg {
  font-size: 20px;
  margin-bottom: 5px;
}

.resources > *, .resource {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;

  .resource {
    margin: 0;
  }
}

.resource-text {
  padding: 0 4px;
  font-weight: bold;
}

// Popper

.popper {
  display: block;
  background-color: $lightest-slate;
  color: $slate;
  padding: 5px;
  border: 1px solid $border-color;
  max-width: 280px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#side-bar {
  position: absolute;
  left:0;
  top:100px;

  .bar {
    position: relative;
    padding: 20px 15px 20px 5px;
    z-index: 2;
    color: #fff;
    perspective: 200px;
    margin: 30px 0;

    &::before {
      z-index: -1;
      position: absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      content: " ";
      display:block;
      background-color: $slate;
      filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
      padding: 15px;
      min-width: 35px;
      border-radius: 0 10px 10px 0;
      box-shadow: -3px 0 10px $darker-faded-blue inset;
      color: lighten($darker-faded-blue, 35);
      border: 3px solid $darker-faded-blue;

      transform: rotate3d(0, 1, 0, 45deg);
      transform-origin: left;
    }
  }
}


// Build Radio

.build-radio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $border-color;
  grid-gap: 3px;
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 3px;
}

.center {
  margin: 0 auto;
}


// Jobs

.jobs-buttons {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  margin: 0 auto;
}


// Scrollbar

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: $faded-blue;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
